*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-nav{
    width: 50px;
    margin-left: 30px;
}
#navbar{
    margin-right: 30px;
    li{
        margin-left: 10px;
    }
}
#logo-footer{
    width: 160px;
    height: 160px;
    margin: 20px 40px;
}
footer{
    .nav-link{
        color:black
    }
    svg{
        margin-left: 40px;
        width: 40px;
        height: 30px;
        color: black;
        align-items: center;
    }
}
#nav-footer{
    margin-bottom: 50px;
}